:root {
    --difficulty-right: var(--comp-right);
    --difficulty-top: var(--comp-top);
    --assist-left: 40vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background-color: rgba(255,255,255,0);
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
    background-color: white;
}

#credit {
    position:absolute;
    text-align: center;
    top: 12vh;
    font-size:3vh;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: rgb(179, 178, 178);
}

.game {
    background-color: rgb(193, 222, 231);
    display: grid;
    grid-template-columns: repeat(3, 15vh);
}

.game:hover {
    cursor: pointer;
}

.cell {
    display: grid;
    place-items: center;
    font-size: 13vh;
    color: darkslategray;
    width: 15vh;
    height: 15vh;
    border: 3px solid white;
    font-family:'Arial Narrow', Arial, sans-serif;
}

button {
    cursor: pointer;
    position: absolute;
    top: 75vh;
    color: darkslategray;
    width: 20vw;
    height: 8vh;
    font-size: min(5vh,7vw);
    border-radius: 0;
    border: none;
    background-color:rgb(183, 212, 221);
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#reference {
    position: absolute;
    top: 90vh;
    font-size: 3vh;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #36373b;
}

img {
    width: 4vh;
    height: 4vh;
    transform: translateY(25%);
}

#wrongMove {
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 21vh;
    height: 10vh;
    width: 30vw;
    font-size: 5vh;
    font-weight:bold;
    color: brown;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#difficultySlider {
    position: absolute;
    right: var(--difficulty-right);
    top: var(--difficulty-top);
}

.slider {
    -webkit-appearance: none;
    width: 22vh;
    height: 15px;
    border-radius: 5px;  
    background: #e3e3e3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(143, 203, 221);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(143, 203, 221);
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

#difficultyDisplay {
    position:absolute;
    right: calc(var(--difficulty-right) + 8vh);
    top: calc(var(--difficulty-top) + 5vh);
    font-family: monospace;
    font-size:10vh;
    font-weight: bolder;
    color:#a3a3a3;
}

.switch {
    position: absolute;
    display: inline-block;
    left: var(--assist-left);
    transform: translateY(-50%);
    top: 87vh;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switchSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .switchSlider {
    background-color: #72e481;
  }
  
  input:focus + .switchSlider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .switchSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  